@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
h1{ font-size: 2.5em;
color:rgb(21, 158, 28);
display: flex;
align-items: center;
justify-content:center;
text-align: center;
margin: 10px;
}
h2{font-size: 2em;
text-align: center;
color:rgb(21, 158, 28);}
h3{font-size: 1.5em;
color:rgb(21, 158, 28);}
p{font-size: 1em;
text-align: justify;}
ul{list-style:none;}

body{
    margin: 0;
    font-family:"montserrat";

}

a{
    font-size: 1em;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
}
a:hover{
    background-color: rgb(117, 179, 56);
}
.container{
    max-width: 1400px;
    margin: auto;
    
}
header {
    background-color: rgb(236, 235, 235);
    
}
header .logo{
margin: 0;
justify-content: center;
text-align: center;
padding: 25px 30px;
font-size: 2em;
font-weight: bold;
color: rgb(4, 116, 4);

}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    
}
header a{
    padding: 5px 12px ;
    text-decoration: none;
    font-weight: bold;
    color: rgb(87, 86, 86);
}
header a:hover{
    color: green;
  }
  #hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
    color: rgb(233, 0, 0);
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) ,url("Assets/carton.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
.container-qs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 0px 0px 20px 0px;
}
.container-qs p{
    padding: 0px 30px 0px 30px;
}
.img-logo{
    background-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0),
        rgba(209, 255, 200, 0)
    ),url("Assets/gato1.png");
    background-size: cover;
    background-position: center center;
    height: 350px;
    width: 322px;
    text-decoration: none;
    color: black;
}
.container-mv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    gap: 50px;
    color: #fff;
    background: rgb(0, 0, 0);
}
.mision{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.vision{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-mision{
    background-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0),
        rgba(209, 255, 200, 0)
    ),url("Assets/mision.png");
    background-size: cover;
    background-position: center center;
    height: 100px;
    width: 100px;
    text-decoration: none;
    color: black;
}
.img-vision{
    background-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0),
        rgba(209, 255, 200, 0)
    ),url("Assets/vision.png");
    background-size: cover;
    background-position: center center;
    height: 100px;
    width: 100px;
    text-decoration: none;
    color: black;
}
#objetivos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px 0px 30px;
    text-align: justify ;
}
.img-objetivos{
    background-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0),
        rgba(209, 255, 200, 0)
    ),url("Assets/objetivos.png");
    background-size: cover;
    background-position: center center;
    height: 100px;
    width: 100px;
    text-decoration: none;
    color: black;
}
#valores {
    color: #fff;
    background: rgb(0, 0, 0);
    text-align: center ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px 0px 30px;
}
.valor{
justify-content:center ;
align-items:center ;
display:flex ;
    
}
#valores h2{
    gap: 30px;
    padding: 0px 30px 0px 0px;
}
.img-valores{
    background-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0),
        rgba(209, 255, 200, 0)
    ),url("Assets/valores.png");
    background-size: cover;
    background-position: center center;
    height: 100px;
    width: 100px;
    text-decoration: none;
    color: black;
    align-items: center;
}
#redes{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 60vh;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);   
    }
#redes a{
    text-decoration: none;
    color: black;
    gap: 20px;
    
}
footer{
    background-color: rgb(230,230,230);
}
footer p{
    margin: 0;
    padding: 5px;
    color: (100.100,100);
}
footer .container{
    height: 40px;
    display: flex;
    justify-content:center ;
    align-items: flex-end;
}
@media(min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #quienes-somos .container-qs{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .img-logo{
        background-image: url("Assets/gato1.png");
        background-size: cover;
        background-position: center center;
        height: 210px;
        width: 200px;
    }
    .container-qs .texto{
        width: 50%;
        text-align: justify;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }
    .container-mv{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: justify;
        padding: 10px 10px;
        gap: 40px;
    }
    #objetivos .container-o{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
    }
    #objetivos .texto{
        width: 80%;
    }
    #valores {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    #valores .texto{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #redes{
        height: 30vh;
        
    }
    #redes .container{
        padding: 0px;
        margin: 0;
        
    }
    #redes .img-container{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        gap: 50px;
    }
    #redes a{
        gap: 30px;
        text-decoration: none;
        color: black;
    }   

}